[Unit]
Description=Paperless consumer service
After=network.target
Requires=redis.service
PartOf=paperless.target

[Service]
User=paperless
Group=paperless
ExecStart=/usr/bin/paperless-manage document_consumer
Restart=on-abort

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

RestrictNamespaces=yes

SystemCallArchitectures=native
SystemCallFilter=@system-service

WorkingDirectory=/usr/share/paperless/src
ReadWriteDirectories=/var/lib/paperless

[Install]
WantedBy=paperless.target
